body {
  margin: 0;
  padding: 0;
}

.container {
  background-color: #98fb98;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.box {
  height: 310px;
  width: 280px;
  background-color: white;
  margin: auto;
  position: relative;
}

#lh,
#lh-s,
#lh-t,
#lh-f {
  line-height: 280px;
}

i {
  font-size: 2.5em;
  color: white;
  text-align: center;
  position: absolute;
  background-color: #ff6f00ce;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.3s;
}

i:hover {
  opacity: 1;
}

.one,
.two,
.three,
.four {
  background-size: cover;
  background-position: center;
}

.one {
  background-image: url(product-1.jpg);
}
.two {
  background-image: url(product-2.jpg);
}
.three {
  background-image: url(product-3.jpg);
}
.four {
  background-image: url(product-4.jpg);
}

@media (max-width: 992px) {
  .box {
    width: 49%;
  }
}

@media (max-width: 480px) {
  .box {
    width: 100%;
  }
}
